header {

  margin: auto;
  width: 60%;
}

header ul {


  margin: auto;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  

  /*display: flex;*/
  /*line-height: 10;*/
  /*padding: 0 50px;*/
}

header h1 {
  width: 150px;
  height: 20px;
  margin: auto;
  font-weight: 700;
  border-right: 1px solid white;
  border-left: 1px solid white;
  display: absolute;
  font-size: large;
  text-align: center;
}

header a.header-link {
  line-height: 4;

  width: 30px;

}

header ul li{

  /*display: flex;*/
  /*padding: 0 20px;*/
  /*margin: auto;*/
  float: left;
  display: block;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 24px;
  
}

header ul li:hover {

  background-color: #aa7fff;
}

header nav.Main {

  display: flex;
  margin: auto;
  width: 90%;
  padding-bottom: 50px;
}
header nav.Main a{
  color: black;

}

topbar {
  content: "";
  display: block;
  height: 15px;
  width: 60%;
  margin: auto;
}

div.splash li {
  color: white;
  text-shadow: 0 0 14px black;
}

div.splash h2.header-name {
  color: white;
  text-shadow: 0 0 14px black;
  float:left;
}
h2.header-name {

  padding: 5px;
  float:left;
}

hgroup.header-group {
  display: inline-block;

}
input.header-button {
  float: left;
  padding: 5px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #aa7fff;
}

a.new-product {
  float: left;
  padding: 5px;

}

a.checkout {

  float: left;
  padding: 5px;
}
