header {

  margin: auto;
  width: 60%;
}

header ul {


  margin: auto;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  

  /*display: flex;*/
  /*line-height: 10;*/
  /*padding: 0 50px;*/
}

header h1 {
  width: 150px;
  height: 20px;
  margin: auto;
  font-weight: 700;
  border-right: 1px solid white;
  border-left: 1px solid white;
  display: absolute;
  font-size: large;
  text-align: center;
}

header a.header-link {
  line-height: 4;

  width: 30px;

}

header ul li{

  /*display: flex;*/
  /*padding: 0 20px;*/
  /*margin: auto;*/
  float: left;
  display: block;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  
}

header ul li:hover {

  background-color: #eee;
}

header nav.Main {

  display: flex;
  margin: auto;
  width: 90%;
  padding-top: 50px;
}

topbar {
  content: "";
  display: block;
  height: 15px;
  width: 60%;
  margin: auto;
}


