product-content {
  display: block;
  width: 60%;
  margin: auto;
}


product-content li {
  padding: 5px;
  display: flex;
  width: 100%;
  text-align: center;
}

product-content span {

}

product-content ul {
  display:flex;


}
li img {
  
  width: auto;
  position:absolute;
  z-index:-1;

}
