product-content {
  display: block;
  width: 60%;
  margin: auto;
}

product-content ul {
  width: 860px;
  margin-bottom: 20px;
  Overflow: hidden;
  padding-left: 150px;
}

product-content li {
  line-height: 1.5em;
  float: left;
  display: inline;
  width: 33.33%;
}

product-content li:hover{

}

product-content a {
  cursor: pointer;
}

product-content span {

}

li img {
  
  width: auto;
  z-index:-1;
  cursor: pointer;

}

li img:hover{

  opacity: 0.5;

}
