product img {

  width: auto;

}

product {
  width: 50%;
  margin: auto;
  display: flex;

}

.product-img {
  display: inline-block;
  float: left;
  padding: 5px;
  padding-left: 150px;

}
.product-detail {
  display: inline-block;
  float: left;
  padding: 20px;

}

div.product-detail h1 {
  
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;

}

div.product-detail h3 {
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
}
div.product-detail h3.SKU {
  font-size: 12px;
}
div.product-detail h3.description {
  font-size: 16px;
}

div.product-detail button {

  padding: 10px 15px;
  color: #fff;
  background: #aa7fff;
  font-weight: 700;
  border-radius: 5px;
  margin: 0 2px;

}

div.product-detail button:hover {
  background: #aa7fff;
  cursor: pointer;
  box-shadow: 0 3px 0 0 #5500ff;
}


div.product-detail button:active {
  top: 3px;
  background: #aa7fff;
  box-shadow: none;
}
