html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  font-family: 'Josefin Sans', sans-serif;

}

a {
  color: #aa7fff;
}
ul {
  list-style: none;

}

img {
  display: block;
  width: 100%;
  height: auto;

}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

}

button,
input[type="submit"] {

}

/* Clearfix */

.group:after {
  content: "";
  clear: both;
  display: block;
}
