topbar {
  content: "";
  display: block;
  height: 15px;
  width: 60%;
  margin: auto;
}

.login-signup {

  width: auto;
  float: right;
  position: relative;
  color: #aa7fff;
  cursor: pointer;
  padding: 5px;

}

.login-signup:hover {
  background-color: #eee;
  cursor: pointer;

}
